<launch>

   <!-- simulation environment -->
    <include file="$(find simulate_environment)/launch/multiCamera.launch" />

   <!-- load Parameters -->
   <rosparam file="$(find avp_slam_plus)/config/configFile.yaml" command="load" />
   
    <!-- generate point cloud from RGB image of multi cameras -->
    <node name="pointCloudFromRGB" pkg="avp_slam_plus" type="pointCloudFromRGB" output="screen">
    </node>

　 　<!-- relocated in prior map -->
    <node name="localization" pkg="avp_slam_plus" type="localization" output="screen">
   </node>

</launch>
